:root {
    --var-h3: #5e5c6450;
    --var-p: #5e5c641c;
    /* --var-p:  */
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Roboto-Medium';
    background: rgb(54,54,153);
    background: -moz-linear-gradient(180deg, rgba(54,54,153,1) 0%, rgba(34,39,88,1) 37%, rgba(2,10,20,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(54,54,153,1) 0%, rgba(34,39,88,1) 37%, rgba(2,10,20,1) 100%);
    background: linear-gradient(180deg, rgba(54,54,153,1) 0%, rgba(34,39,88,1) 37%, rgba(2,10,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#363699",endColorstr="#020a14",GradientType=1);
    min-height: 100vh;

}
/* header */
header {
    max-width: 1920px;
    
    position: fixed;
    top: 0;
    width: 100%;

    display:flex;
    flex-direction: column;
    z-index: 99;
}
header nav {
    /* border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%; */
    
    background-color: rgb(81, 81, 185);

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
#logo h1 {
    font-size: 30px;
    padding-left: 10px;
    color: white;
    /* transition: filter 0.5s ease; */
}
#logo h1:hover {
    cursor: pointer;
}
#logo img {
    display: none;
    padding-left: 10px;
    width: 50px;
    height: 50px;
}
#logo img:hover {
    cursor: pointer;
}
#lang_buttons {
    display: flex;
    align-items: center;
}
#lang_buttons img {
    height: 45px;
    width: 90px;
    object-fit: cover;
    margin: 5px;
    border-radius: 6px;
    transition: filter 0.3s ease;
}
#single_flag {
    display: none;
}
#single_flag img {
    object-fit: contain;
    height: 60px;
}
#single_flag img:hover {
    cursor: pointer;
    filter: brightness(70%);
}
#single_flag img:active {
    filter: brightness(40%);
    transition: none;
}
#lang_buttons img:hover{
    cursor: pointer;
    filter: brightness(70%);
}
#lang_buttons img:active {
    filter: brightness(40%);
    transition: none;
}
/* main */

main {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: grid-template-columns 0.3s ease;

    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.card {
    
    background-color: rgb(214, 207, 169);
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    opacity: 1;
    transition: opacity 0.2s ease;
}
.top_bar_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: rgb(212, 200, 132);
    height: 7%;
    padding: 5px;
}
.top_bar_card h3 {
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 0;
    white-space: nowrap;
    font-size: 22px;
    text-align: left;
    flex: 1;
    border-radius: 4px;
    padding: 2px;
}
.top_bar_card h3::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.top_bar_card h3::-webkit-scrollbar-track {
    background-color: transparent;
}
.top_bar_card h3::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.top_bar_card .h3hover_normal:hover {
    background-color: #5e5c6450;
}
.top_bar_card .h3hover_none:hover {
    background-color: none;
}

.top_bar_card_right_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_bar_card_right_buttons > div {
    margin-left: 5px;
}
.sync,
.finish_icon,
.delete_icon {
  flex-shrink: 0;
}
.sync {
    color: #5e5c64;
}
.finish_icon {
    color: #5e5c64;
}
.finish_icon:hover {
    color: rgb(60, 216, 40);
    cursor: pointer;
}
.finish_icon:active {
    color: rgb(32, 141, 17);
}
.delete_icon {
    color: #5e5c64;
}
.delete_icon:hover {
    /* color: #28272b; */
    color: #e92121;
    cursor: pointer;
}
.delete_icon:active {
    color: #8f0a0a;
}
.main_card p {
    text-align: left;
    padding: 6px;
    margin: 0;
    font-size: 20px;
    border: none;
}
/* .main_card {
    height: 85%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.main_card:hover {
    background-color: var(--var-p);
    cursor: text;
}
.main_card::-webkit-scrollbar {
    width: 0;
}
.main_card::-webkit-scrollbar-track {
    background-color: transparent;
}
.main_card::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.main_card textarea {
    background-color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 6px;
    font-size: 20px;
    border: none;
    outline: none;

    overflow: scroll;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
} */
.main_card {
    height: 85%;
}
.main_card textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    padding: 6px;
    font-size: 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
/* .main_card .textarea_readable:hover {
    cursor: default;
} */
.main_card .textarea_writable:hover {
    background-color: var(--var-p);
}
.main_card textarea::-webkit-scrollbar {
    display: none;
    width: 0;
}
.main_card textarea::-webkit-scrollbar-track {
    background-color: transparent;
}
.main_card textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.main_card p {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: transparent;
    padding: 6px;
    font-size: 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.main_card p::-webkit-scrollbar {
    width: 0;
}
.main_card p::-webkit-scrollbar-track {
    background-color: transparent;
}
.main_card p::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.end_card {
    font-size: 14px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 6%;
    padding: 5px;
}
.end_card div {
    display: flex;
    align-items: center;
}
.end_card p {
    /* margin-left: 4px; */
    font-style: italic;
    padding: 0;
}
[contenteditable] {
    outline: 0px solid transparent;
}
#mid_nav {
    display: flex;
    align-items: center;
}
#left_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_buttons div {
    display: flex;
    align-items: center;
    margin-right: 6px;
}
#left_buttons div i {
    color: white;
}
#left_buttons div i:hover {
    color: rgb(153, 153, 153);
    cursor: pointer;
}
.hidden {
    display: none;
}
#search_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search_cont i{
    padding-left: 5px;
    display: none;
}
#search_input {
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}
#search_input:focus {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#right_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#right_buttons div {
    margin-left: 6px;
}
#right_buttons i{
    color: white;
}
#right_buttons i:hover {
    color: rgb(153, 153, 153);
    cursor: pointer;
}

/* hard write */
.finishCard {
    background-color: rgb(125, 204, 103) !important;
}
.finishCardH3 {
    background-color: rgb(81, 204, 81) !important;
}
.deleteCard {
    background-color: rgb(214, 114, 114) !important;
}
.deleteCardH3 {
    background-color: rgb(209, 90, 90) !important;
}

#emptyGrid {
    display: none;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        animation: fadeIn-1200 0.6s ease;
    }
}

@media only screen and (max-width: 950px) { /* header düzenlemesi */
    #lang_buttons {
        display: none;
    }
    #single_flag {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    main {
        /* margin-top: 150px; */
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        animation: fadeIn-900 0.6s ease;
    }
}

@media only screen and (max-width: 750px) { /* header düzenlemesi */
    #logo h1 {
        display: none;
    }
    #logo img {
        padding: 10px;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        animation: fadeIn-600 0.6s ease;
    }
    #left_buttons {
        display: none;
    }
    #right_buttons {
        display: none;
    }
    #search_cont i {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    #search_input {
        width: 250px;
    }
}

@media only screen and (max-width: 420px) {
    #search_input {
        width: 200px;
    }
}

@media only screen and (max-width: 370px) {
    #search_input {
        width: 150px;
    }
}
@media only screen and (max-width: 320px) {
    #search_input {
        width: 100px;
    }
}

@keyframes fadeIn-1200 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeIn-900 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeIn-600 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes scrollText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }